/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self
 */

/* ----------------------------------------------------------------
    confirmation page
-----------------------------------------------------------------*/

.style-msg2 h1, p {
    text-shadow: none !important;
}

.confirm-info li{
    padding: 20px;
    list-style-type:none;
}
.confirm-info li p {
    font-size: 20px;
    color: #e5ded7;
}

#confirm-bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}
#confirm-bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}
.transparent {
    background:rgba(45, 42, 42, 0.50) !important;
    box-shadow: 10px 10px 15px #000;
}
h2#notice {
    color: #e5ded7;
    font-family: 'css/fonts/Oranienbaum.ttf', sans-serif;
}